/*========== CUBES ==========*/

#cubes{

position:fixed;
inset:0;

pointer-events:none;

z-index:3000;

}


.cube{

position:absolute;

width:24px;
height:24px;

background:#1e6cff;

box-shadow:
0 0 20px rgba(30,108,255,.5);

}