/*========== DISEÑO ==========*/

.diseno-panel{
position:relative;
overflow:hidden;
}


.diseno-wrapper{
width:100%;
height:100%;
display:flex;
align-items:center;
}



.diseno-wrapper .texto-lado{

width:35%;
padding-left:6vw;
flex-shrink:0;
z-index:5;

}



.diseno-wrapper .texto-lado h2{

font-size:6vw;
line-height:.9;
text-transform:uppercase;

}



.diseno-wrapper .texto-lado p{

max-width:360px;
margin-top:25px;
line-height:1.6;

}



.diseno-track{

display:flex;
align-items:center;
gap:4vw;
height:80vh;
width:max-content;

}



.diseno-item{

width:42vw;
height:65vh;
flex-shrink:0;
overflow:hidden;

}



.diseno-item img{

width:100%;
height:100%;
object-fit:cover;

transition:
transform .8s cubic-bezier(.22,1,.36,1);

}



.diseno-item:hover img{

transform:scale(1.08);

}



/* efecto profundidad */

.diseno-item:nth-child(1){

margin-top:-8vh;

}


.diseno-item:nth-child(2){

margin-top:10vh;

}


.diseno-item:nth-child(3){

margin-top:-5vh;

}


.diseno-item:nth-child(4){

margin-top:12vh;

}



/* MOBILE */

@media(max-width:768px){

.diseno-wrapper{

display:block;
padding-top:100px;

}


.diseno-wrapper .texto-lado{

width:100%;
padding:0 6vw;

}


.diseno-track{

margin-top:40px;
height:auto;
overflow-x:auto;
padding-left:6vw;

}


.diseno-item{

width:80vw;
height:55vh;

}


.diseno-item:nth-child(n){

margin-top:0;

}

}